

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
section{
  width:100vw ;
  height: 100vh;
  padding: 2rem;
}
.container{
  
   max-height: 100vh;
   margin: auto;
   /* background-color: aqua; */
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   padding: 4rem;
}
.card-container{
  margin: 3rem;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-1{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  
}
img{
  width: 30%;
  border-radius: 2rem;
}
.profile-details{
  padding-top: 2rem;
 
}
h2{
  color: red;
}
p{
  padding-top: 1rem;
}
.profile-number{
  padding-bottom: 1rem;
}



